/* styles-logs-2024-08.css */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #5f5230, #a56a11, #ffd738);
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 0.8em;
}

h1 {
    font-size: 2em;
    color: #ffd700;
}

h2 {
    font-size: 1.2em;
    color: #ffffff;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: rgba(255, 255, 255, 0.1);
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    color: #f5f5f5;  /* 调整为白色 */
}

a {
    text-decoration: none;
    color: #ffd700;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 20px;
}

header {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #ccc 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 30px 0;
    margin-top: 30px;
}

.content {
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 20px;
}
